<form
  autocomplete="off"
  [formGroup]="userInputs"
  #userInputsTempl="ngForm"
  (ngSubmit)="generateCurve(userInputsTempl.value)"
>
  <mat-form-field appearance="outline">
    <mat-label>min coord</mat-label>
    <input
      name="min"
      matInput
      formControlName="minValue"
      required
      tabindex="2"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>max coord</mat-label>
    <input
      name="max"
      matInput
      formControlName="maxValue"
      required
      tabindex="3"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>max height</mat-label>
    <input
      name="height"
      matInput
      formControlName="maxHeight"
      required
      tabindex="4"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>number of points</mat-label>
    <input
      name="points"
      matInput
      formControlName="numberOfPoints"
      required
      tabindex="5"
    />
  </mat-form-field>
  <button
    type="submit"
    mat-stroked-button
    color="primary"
    tabindex="1"
    [disabled]="userInputsTempl.invalid"
  >
    Generate
  </button>
</form>
<div class="canvas-container">
  <canvas id="bgd-layer"></canvas>
  <canvas id="curve-layer"></canvas>
</div>
